@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Homemade-Apple';
    src: url('../fonts/HomemadeApple.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Medium', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

button {
    border: none;
}

:root {
    --white: #fff;
    --white-light: #F8FAFB;
    --black: #000;
    --black-primary: #151515;
    --black-secondary: #1D2024;
    --purple-light: #AFA6F2;
}

body {
    background-color: var(--black-primary);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black-secondary);
    border-radius: 6px;
}

/* Style for Firefox */
* {
    scrollbar-color: var(--black-secondary) transparent;
}

/* Style for Edge and Internet Explorer */
* {
    -ms-overflow-style: none;
}

*::-ms-scrollbar-thumb {
    background-color: var(--black-secondary);
    border-radius: 6px;
}

.container {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    padding-left: 8.3rem;
    padding-right: 8.3rem;
}

.burger {
    display: none;
}

nav {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

nav .nav-wrapper {
    width: 100%;
    display: flex;
    padding-top: 3.75rem;
    justify-content: space-between;
    align-items: center;

}

nav .logo-holder {
    width: 10.875rem;
    height: 2.25rem;
}

nav .logo-holder img {
    width: 100%;
    height: auto;
}

nav .nav-links {
    width: 49.5625rem;
    height: 4.3125rem;
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-links .selected {
    background-color: var(--white);
}

nav .nav-links ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

nav .nav-links ul a {
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    padding: 0.65rem 1.25rem;
    border-radius: 1.875rem;
    display: block;
    height: 2.625rem;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav .nav-links ul a:hover {
    background-color: var(--white);
}

.hero {
    background-color: var(--black);
    height: 46.75rem;
}

.hero-section {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-section .text-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hero-section .text-holder h1 {
    margin-top: 4rem;
    color: var(--white);
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-section .text-holder h2 {
    color: var(--purple-light);
    font-family: 'Homemade-Apple';
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

.hero-section .text-holder button {
    width: 11.875rem;
    height: 3.375rem;
    border-radius: 1.875rem;
    background: var(--black-secondary);
    color: var(--white);
    font-family: 'Gilroy-Medium';
    border: none;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-section .text-holder button:hover {
    background: var(--white-light);
    color: var(--black-secondary);
}

.hero-section .graphics-holder1 {
    width: 31.625rem;
    height: 31.625rem;
    position: absolute;
    left: -7.3rem;
    bottom: 0;
    z-index: 2;
}

.hero-section .graphics-holder2 {
    width: 18.5625rem;
    height: 18.5625rem;
    position: absolute;
    top: 8.5rem;
    right: -5.13rem;
    z-index: 2;
}

.hero-section img {
    width: 100%;
}


.about {
    padding: 3.12rem 0;
}

.about .about-quote .section-heading h3 {
    color: var(--white);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 1.5rem;
}

.about .about-quote .section-heading hr {
    margin-top: 0.25rem;
    width: 17.4375rem;
    height: 0.0625rem;
}

.about .about-quote .section-heading-description p {
    color: var(--white);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about .about-quote .section-heading-description span {
    color: var(--purple-light);
    font-family: "Homemade-Apple";
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.1;
    padding-left: 10px;
}

.about .about-quote .section-heading-description {
    max-width: 63.4375rem;
    padding: 1.88rem 0;
}

.about .about-description {
    display: flex;
    column-gap: 6.125rem;
    align-items: center;
    padding: 6rem 0;
}

.about-description .card-holder {
    max-width: 31rem;
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    margin-left: -4rem;
}

.about-description .card-holder .card {
    background-color: var(--white-light);
    width: 8.75rem;
    height: 9.625rem;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 1.94rem 1.81rem;
    align-items: center;
    justify-content: center;
}

.about-description .card-holder .card p {
    color: var(--black);
    font-family: 'Gilroy-Bold';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1.19rem;
}

.about-description .card-holder .card img {
    object-fit: contain;
    width: 100%;
    filter: brightness(1) invert(0);
}

.about-description .card-holder .card img:nth-child(1) {
    height: 60%;
}

.about-description .card-holder .middle-cards {
    display: flex;
    flex-direction: column;
    row-gap: 1.44rem;
}

.about-description .card-holder .middle-cards .card:nth-child(2) {
    height: 11.25rem;
}

.about-description .card-holder .card:nth-child(3) {
    height: 11.5rem;
}

.about-description .card-holder .card:nth-child(1) {
    padding: 1.1rem;
    margin-top: -1.8rem;
}

.about-description .card-holder .middle-cards .card:nth-child(1) p {
    padding-top: 0.6rem;
}

.about-description .text-holder {
    max-width: 42.125rem;
}

.about-description .text-holder p {
    color: var(--white);
    font-family: 'Gilroy-Medium';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.121rem;
}

.projects {}

.projects .projects-holder {
    display: flex;
    flex-direction: column;
    row-gap: 6.25rem;
    padding-bottom: 3.2rem;
    padding-top: 3.2rem;
}

.projects .projects-holder .project-card {
    width: 100%;
    /* height: 37.5rem; */
    aspect-ratio: 73.125 / 37.5;
    background-color: #F4F2FF;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.projects .projects-holder .project-card img {
    width: 100%;
    height: 100%;
}

.projects .projects-holder .project-card:nth-child(3) img,
.projects .projects-holder .project-card:nth-child(6) img {
    width: 36.375rem;
    height: 30.25rem;
}

.projects .projects-holder .project-card:nth-child(3),
.projects .projects-holder .project-card:nth-child(6) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .projects-holder .project-card .read-more {
    position: absolute;
    bottom: 1.44rem;
    left: 2.6rem;
    width: 3.375rem;
    height: 3.375rem;
    border-radius: 1.875rem;
    background: var(--black-secondary);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
}

.projects .projects-holder .project-card .expanded {
    width: 11.875rem;
    height: 3.375rem;
    padding: 0 1.1rem;
}

.projects .projects-holder .project-card .read-more img {
    width: 3.375rem;
    height: 3.375rem;

    padding-left: 1;
}

.project-card .arrow-up {
    transform: rotate(-50.115deg);
    transition: transform 0.5s ease-in-out;
}

.project-card .arrow-up.rotated {
    transform: rotate(0deg);
    /* Rotate to 0 degrees */
}

.projects .projects-holder .project-card .expanded p {
    color: var(--white);
    font-family: 'Gilroy-Medium';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    /* Prevent text from wrapping to a new line */
    overflow: hidden;
}


.services {}

.services .services-holder {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    height: 100%;
}

.services .services-holder .section-heading h3 {
    color: var(--white);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 1.5rem;
}

.services .services-holder .section-heading hr {
    margin-top: 0.25rem;
    width: 17.4375rem;
    height: 0.0625rem;
}

.services .services-holder .section-heading-description p {
    color: var(--white);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services .services-holder .section-heading-description span {
    color: var(--purple-light);
    font-family: "Homemade-Apple";
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 10px;
}

.services .services-holder .section-heading-description {
    max-width: 63.4375rem;
    padding: 1.88rem 0;
}

.services .services-holder .section-heading-details p {
    color: var(--white);
    font-family: 'Gilroy-Medium';
    width: 98%;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.121rem;
}

.banner-bottom {
    background: linear-gradient(358deg, #000 0.11%, rgba(0, 0, 0, 0.00) 101%, #1D2024 101%);

}

.banner-holder {
    height: 35.187rem;
    padding-top: 3.2rem;
    position: relative;
}

.banner-holder .hero-text-holder {
    float: left;
    text-align: center;
    padding-left: 1.62rem;
    margin-top: 3.3rem;
    position: relative;
    z-index: 9;

}

.banner-holder .hero-text-holder h2 {
    color: var(--white);
    font-family: 'Gilroy-Medium';
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 10;
}

.banner-holder .hero-text-holder h3 {
    color: var(--purple-light);
    font-family: 'Homemade-Apple';
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 10;
}

.banner-holder .img-holder {
    width: 43.0625rem;
    aspect-ratio: 43.0625rem/30.375rem;
    position: absolute;
    bottom: 0;
    right: 9.87rem;
    z-index: 5;
    opacity: 55%;
}

.banner-holder .img-holder img {
    width: 100%;
    height: 100%;
}


.testimonials {}

.testimonials-holder {
    padding-top: 6.25rem;
    padding-bottom: 3.25rem;
    height: 100%;
}

.testimonials-holder .section-heading h3 {
    color: var(--white);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 1.5rem;
}

.testimonials-holder .section-heading hr {
    margin-top: 0.25rem;
    width: 17.4375rem;
    height: 0.0625rem;
}

.testimonials-holder .section-heading-description {
    max-width: 63.4375rem;
    padding-bottom: 6.25rem;
}

.testimonials-holder .section-heading-description p {
    color: var(--white);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimonials-holder .section-heading-description span {
    color: var(--purple-light);
    font-family: 'Homemade-Apple';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1.2rem;
}

.testimonials-holder .testimonials-cards-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* row-gap: 4.62rem; */
    /* column-gap: 4rem; */
    flex-wrap: wrap;
}

.testimonials-holder .testimonials-cards-holder .cards {
    display: flex;
    /* max-height: 21.3rem; */
    /* height: 21.3rem; */
    column-gap: 1.81rem;
    /* max-width: 34.5rem; */
    flex: 1 0 calc(50% - 1.81rem);
    /* Two cards in a row with some gap */
    max-width: calc(50% - 1.81rem);
    margin-bottom: 4.62rem;
    /* Row gap */
}

.testimonials-holder .testimonials-cards-holder .cards .pfp-holder {
    width: 4.375rem;
    height: 4.375rem;
}

.testimonials-holder .testimonials-cards-holder .cards .pfp-holder img {
    object-fit: contain;
    width: -webkit-fill-available;
    border-radius: 50%;
}

.testimonials-holder .testimonials-cards-holder .cards .name {
    color: var(--white);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.30rem 0;
}

.testimonials-holder .testimonials-cards-holder .cards .text-holder {
    /* overflow: hidden; */
}

.testimonials-holder .testimonials-cards-holder .cards .designation {
    color: var(--purple-light);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimonials-holder .testimonials-cards-holder .cards .review {
    color: var(--white);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    padding-top: 1rem;
    line-height: normal;

}

.testimonials-holder .btn-holder {
    padding-top: 6.25rem;
    text-align: center;
}

.testimonials-holder .btn-holder button {
    width: 11.875rem;
    height: 3.375rem;
    border-radius: 1.875rem;
    background: var(--purple-light);
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.3s ease;
    cursor: pointer;
}

.testimonials-holder .btn-holder button:hover {
    background-color: rgb(138, 125, 234);
    color: var(--white-light);
}


.clients {}

.clients-holder {
    padding-top: 3rem;
}

.clients-holder .section-heading h3 {
    color: var(--white);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 1.5rem;
}

.clients-holder .section-heading hr {
    margin-top: 0.25rem;
    width: 17.4375rem;
    height: 0.0625rem;
}

.clients-holder .section-heading-description {
    max-width: 63.4375rem;
    /* padding-top: ; */
}

.clients-holder .section-heading-description p {
    color: var(--white);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.clients-holder .section-heading-description span {
    color: var(--purple-light);
    font-family: 'Homemade-Apple';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1.5rem;
}

.clients-holder .client-logos {
    display: flex;
    max-width: 90rem;
    justify-content: center;
    column-gap: 5rem;
    padding-bottom: 2.62rem;
    padding-top: 2.62rem;
    flex-wrap: wrap;

}

.offerings {
    padding-bottom: 6.25rem;
    padding-top: 6rem;
}

.offerings-holder {
    overflow: hidden;
}

.offerings-holder h1 {
    text-align: center;
    color: var(--white);
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: nowrap;

}

.offerings-holder h1 span {
    font-size: 8rem;
    vertical-align: middle;
}

.contact {
    background: url('../img/contact-bg.png');
}

.contact .contact-holder {
    padding-top: 6.94rem;
    padding-bottom: 6.94rem;
}

.contact .contact-holder {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}

.contact-holder .text-holder-main {
    max-width: 29.75rem;
}

.contact-holder .text-holder-main h2 {
    color: var(--black);
    font-family: 'Gilroy-ExtraBold';
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-holder .text-holder-main p {
    color: rgba(0, 0, 0, 0.62);
    font-family: 'Gilroy-Medium';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.81rem;
}

.contact-holder .details-holder .block {
    display: flex;
    column-gap: 1.25rem;
    margin-top: 1.81rem;

}

.contact-holder .details-holder .block .address {
    color: var(--black);
    font-family: 'Gilroy-Medium';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem;
    /* 141.667% */
    max-width: 29.75rem;
}

.contact-holder .details-holder .block .phone {
    color: var(--black);
    font-family: 'Gilroy-Medium';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: capitalize;
}

.contact-holder .details-holder .block .email {
    color: var(--black);
    font-family: 'Gilroy-Medium';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: lowercase;
}

.contact-holder .details-holder .block svg {
    margin-top: 0.35rem;
}


footer {
    padding-top: 4.38rem;
    padding-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .logo-holder {
    max-width: 14.1875rem;
    max-height: 2.9375rem;
}

footer .logo-holder img {
    width: 100%;
}

footer .nav-links {
    padding-top: 2.62rem;
    padding-bottom: 2.4rem;
}

footer .nav-links ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    column-gap: 3.06rem;
}

footer .nav-links ul li a {
    color: var(--white);
    font-family: 'Gilroy-Medium';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

footer .social-holder {
    display: flex;
    column-gap: 1.2rem;
    margin-bottom: 2.62rem;
}

footer hr {
    background: #D1CFCF;
    height: 0.0625rem;
    width: 100%;
}

footer .social-holder .social-ico-holder {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.5px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer .social-holder .social-ico-holder svg {
    width: 100%;
    object-fit: contain;
}

footer .credits p:nth-child(1) {
    color: var(--white);
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.00938rem;
    margin-top: 1.2rem;
}

footer .credits p:nth-child(2) {
    color: var(--white);
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.72144rem;
    letter-spacing: 0.0075rem;
}





/* Extra Small Devices (Phones) */
@media only screen and (max-width: 575px) {

    html {
        font-size: 11px;
    }

    .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    section hr {
        margin-top: 0.5rem;
    }

    section h3 {
        font-size: 1.5rem;
    }

    .wrapper {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

    .burger {
        display: block;
        position: fixed;
        cursor: pointer;
        right: 5%;
        display: block;
        z-index: 151;
    }

    .line {
        width: 33px;
        height: 4px;
        background-color: var(--white);
        margin: 3px 3px;
        transition: transform 0.3s;
    }

    /* Additional styles to create the cross icon */
    .burger.cross .line:nth-child(1) {
        transform: rotate(-43deg) translate(-5px, 5px);
        background-color: var(--black-primary);
    }

    .burger.cross .line:nth-child(2) {
        opacity: 0;
    }

    .burger.cross .line:nth-child(3) {
        transform: rotate(43deg) translate(-5px, -5px);
        background-color: var(--black-primary);
    }

    header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 151;
    }

    nav {
        height: 60px;
        background-color: var(--black);
    }

    nav .nav-wrapper {
        padding-top: 0rem;
        height: 100%;
        align-items: center;

    }

    .hero {
        height: 58rem;
    }

    nav .nav-links {
        width: 90vw;
        height: 100vh;
        border-radius: 2.5rem 0 0 2.5rem;
        background: var(--white-light);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 150;
        top: 0;
        bottom: 0;
        right: -100%;
        transition: right 0.5s ease;
    }

    #v-class {
        right: 0;
    }

    nav .nav-links .selected {
        background-color: var(--white);
    }

    nav .nav-links ul {
        margin-top: 30vh;
        display: flex;
        width: 100%;
        height: 100%;
        list-style: none;
        row-gap: 3rem;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    nav .nav-links ul li {
        width: 90%;
    }

    nav .nav-links ul a {
        text-decoration: none;
        color: var(--black);
        text-transform: uppercase;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        padding: 1rem 1.5rem;
        border-radius: 0rem;
        display: block;
        height: 100%;
        width: 100%;
        background-color: transparent;
        transition: background-color 0.3s ease;
    }

    .hero-section .text-holder h1{
        text-align: center;
        font-size: 6rem;

    }
    .hero-section .text-holder h2{
        text-align: center;
        font-size: 3rem;

    }
    .hero-section .text-holder{
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
    .hero-section .graphics-holder1 {
        width: 22.625rem;
        height: 22.625rem;
        left: -11rem;
    }

    .hero-section .graphics-holder2 {
        width: 9.5625rem;
        height: 9.5625rem;
        top: 8.5rem;
        z-index: 1;
    }

    .header-placeholder {
        height: 60px;
        /* Adjust this value based on your navbar height */
    }
    .about .about-quote .section-heading-description span,
    .services .services-holder .section-heading-description span{
        padding-left: 0px;
    }

    .about {
        padding: calc(3.12rem + 0px) 0;
        /* Adding 60px to the top padding */
    }

    .about .about-description {
        justify-content: space-between;
        row-gap: 5.125rem;
        padding: 4rem 0;
        flex-direction: column;
    }

    .about-description .text-holder {
        max-width: 100%;
    }

    .about-description .card-holder {
        margin-left: 0;
    }

    .about-description .card-holder .card {
        height: 11.25rem;
        width: 9.75rem;
    }

    .about-description .card-holder .middle-cards .card:nth-child(2) {
        height: 11.25rem;

    }

    .about-description .card-holder .card:nth-child(3) {
        height: 11.25rem;
    }

    .about-description .card-holder .card:nth-child(1) {
        padding: 1.1rem;
        margin-top: 0rem;
    }

    .projects .projects-holder {
        padding-top: 4rem;
        padding-bottom: 1rem;
        row-gap: 4.25rem
    }
    .projects .projects-holder .project-card .read-more {
        bottom: 1rem;
        left: 1rem;
    }    
    .projects .projects-holder .project-card .read-more{
        width: 2.5rem;
        height: 2.5rem;
    }
    .projects .projects-holder .project-card .read-more img{
        width: 2.5rem;
    }
    .projects .projects-holder .project-card .expanded{
        width: 10rem;
        padding: 0 0.5rem;
    }
    .testimonials-holder .section-heading-description p{
        padding-top: 1rem;
    }
    .testimonials-holder .section-heading-description {
        padding-bottom: 4.25rem;
    }

    .testimonials-holder .btn-holder {
        padding-top: 2.25rem;
    }

    .testimonials-holder .testimonials-cards-holder {
        justify-content: center;
    }

    .testimonials-holder .testimonials-cards-holder .cards {
        flex: 1 0 calc(100% - 1.1rem);
        /* Each card on a new line with some gap */
        max-width: calc(100% - 1.1rem);
        margin-bottom: 6.62rem;
    }
    .clients-holder .section-heading-description span {
        line-height: 1.8;
    }
    .clients-holder .section-heading-description p{
        padding-top: 1rem;
    }
    .banner-holder {
        padding-top: 0rem;
    }

    .banner-holder .hero-text-holder {
        margin-top: 20%;
        text-align: center;
    }
    .banner-holder .hero-text-holder{
        padding-left: 0rem;
    }

    .banner-holder .hero-text-holder h2 {
        font-size: 5.5rem;
    }

    .banner-holder .hero-text-holder h3 {
        font-size: 3.5rem;
    }

    .banner-holder .img-holder {
        width: 100vw;
        position: absolute;
        bottom: -0.5rem;
        right: 0;
        z-index: 5;
        opacity: 40%;
    }

    .offerings {
        padding-bottom: 4.25rem;
        padding-top: 4rem;
    }
    .contact-holder .text-holder-main{
        max-width: 90%;
    }
    .contact-holder .details-holder{
        width: 90%;
    }
    .contact-holder .text-holder-main p{
        font-family: 'Gilroy-Bold';
    }
    .contact-holder .details-holder .block .address,
    .contact-holder .details-holder .block  .phone,
    .contact-holder .details-holder .block  .email{
        font-family: 'Gilroy-Bold';

    }
    .contact .contact-holder {
        padding-top: 4.94rem;
        padding-bottom: 4.94rem;
        row-gap: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-holder .text-holder-main p {
        color: rgba(0, 0, 0, 0.99);
    }

    footer {
        padding-top: 2.38rem;
        padding-bottom: 4.25rem;
    }
    footer .nav-links ul{
        flex-direction: column;
        row-gap: 1.5rem;
    }
    footer .social-holder .social-ico-holder {
        width: 3rem;
        height: 3rem;
    }
}

/* Small Devices (Tablets) */
@media only screen and (min-width: 576px) and (max-width: 799px) {

    html {
        font-size: 12px;
    }

    .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    section hr {
        margin-top: 0.5rem;
    }

    section h3 {
        font-size: 1.5rem;
    }

    .wrapper {
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }

    .burger {
        display: block;
        position: fixed;
        cursor: pointer;
        right: 5%;
        display: block;
        z-index: 151;
    }

    .line {
        width: 33px;
        height: 4px;
        background-color: var(--white);
        margin: 3px 3px;
        transition: transform 0.3s;
    }

    /* Additional styles to create the cross icon */
    .burger.cross .line:nth-child(1) {
        transform: rotate(-43deg) translate(-5px, 5px);
        background-color: var(--black-primary);
    }

    .burger.cross .line:nth-child(2) {
        opacity: 0;
    }

    .burger.cross .line:nth-child(3) {
        transform: rotate(43deg) translate(-5px, -5px);
        background-color: var(--black-primary);
    }

    header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 151;
    }

    nav {
        height: 60px;
        background-color: var(--black);
    }

    nav .nav-wrapper {
        padding-top: 0rem;
        height: 100%;
        align-items: center;

    }

    .hero {
        height: 55.75rem;
    }

    nav .nav-links {
        width: 60vw;
        height: 100vh;
        border-radius: 2.5rem 0 0 2.5rem;
        background: var(--white-light);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 150;
        top: 0;
        bottom: 0;
        right: -100%;
        transition: right 0.5s ease;
    }

    #v-class {
        right: 0;
    }

    nav .nav-links .selected {
        background-color: var(--white);
    }

    nav .nav-links ul {
        margin-top: 30vh;
        display: flex;
        width: 100%;
        height: 100%;
        list-style: none;
        row-gap: 3rem;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    nav .nav-links ul li {
        width: 90%;
    }

    nav .nav-links ul a {
        text-decoration: none;
        color: var(--black);
        text-transform: uppercase;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        padding: 1rem 1.5rem;
        border-radius: 0rem;
        display: block;
        height: 100%;
        width: 100%;
        background-color: transparent;
        transition: background-color 0.3s ease;
    }


    .hero-section .graphics-holder1 {
        width: 22.625rem;
        height: 22.625rem;
        left: -7.3rem;
    }

    .hero-section .graphics-holder2 {
        width: 9.5625rem;
        height: 9.5625rem;
        top: 8.5rem;
        z-index: 1;
    }

    .header-placeholder {
        height: 60px;
        /* Adjust this value based on your navbar height */
    }

    .about {
        padding: calc(3.12rem + 0px) 0;
        /* Adding 60px to the top padding */
    }

    .about .about-description {
        justify-content: space-between;
        row-gap: 5.125rem;
        padding: 4rem 0;
        flex-direction: column;
    }

    .about-description .text-holder {
        max-width: 100%;
    }

    .about-description .card-holder {
        margin-left: 0;
    }

    .about-description .card-holder .card {
        height: 11.25rem;
        width: 9.75rem;
    }

    .about-description .card-holder .middle-cards .card:nth-child(2) {
        height: 11.25rem;

    }

    .about-description .card-holder .card:nth-child(3) {
        height: 11.25rem;
    }

    .about-description .card-holder .card:nth-child(1) {
        padding: 1.1rem;
        margin-top: 0rem;
    }

    .projects .projects-holder {
        padding-top: 4rem;
        padding-bottom: 1rem;
        row-gap: 4.25rem
    }

    .projects .projects-holder .project-card {
        /* height: 33.5rem; */
    }

    .testimonials-holder .section-heading-description {
        padding-bottom: 4.25rem;
    }

    .testimonials-holder .btn-holder {
        padding-top: 2.25rem;
    }

    .testimonials-holder .testimonials-cards-holder {
        justify-content: center;
    }

    .testimonials-holder .testimonials-cards-holder .cards {
        flex: 1 0 calc(90% - 1.1rem);
        /* Each card on a new line with some gap */
        max-width: calc(90% - 1.1rem);
        margin-bottom: 6.62rem;
    }

    .banner-holder {
        padding-top: 1rem;
    }

    .banner-holder .hero-text-holder {
        margin-top: 15%;
    }

    .banner-holder .hero-text-holder h2 {
        font-size: 5.5rem;
    }

    .banner-holder .hero-text-holder h3 {
        font-size: 3.5rem;
    }

    .banner-holder .img-holder {
        width: 38.0625rem;
        height: 25.375rem;
        position: absolute;
        bottom: 0;
        right: 5.87rem;
        z-index: 5;
        opacity: 55%;
    }

    .offerings {
        padding-bottom: 4.25rem;
        padding-top: 4rem;
    }

    .contact .contact-holder {
        padding-top: 4.94rem;
        padding-bottom: 4.94rem;
        column-gap: 2rem;
    }

    .contact-holder .text-holder-main p {
        color: rgba(0, 0, 0, 0.99);
    }

    footer {
        padding-top: 2.38rem;
        padding-bottom: 4.25rem;
    }

    footer .social-holder .social-ico-holder {
        width: 3rem;
        height: 3rem;
    }
}

/* Medium Devices (Laptops) */

@media only screen and (min-width: 800px) and (max-width: 991px) {
    html {
        font-size: 12px;
    }

    .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    section hr {
        margin-top: 0.5rem;
    }

    section h3 {
        font-size: 1.5rem;
    }

    .wrapper {
        padding-left: 3.3rem;
        padding-right: 3.3rem;
    }

    header .wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .hero-section .graphics-holder1 {
        width: 26.625rem;
        height: 26.625rem;
        left: -7.3rem;
    }

    .hero-section .graphics-holder2 {
        width: 13.5625rem;
        height: 13.5625rem;
        top: 8.5rem;
        z-index: 2;
    }


    .about .about-description {
        justify-content: space-between;
        column-gap: 3.125rem;
        padding: 4rem 0;
    }

    .about-description .card-holder {
        margin-left: 0;
    }

    .projects .projects-holder {
        padding-top: 4rem;
        padding-bottom: 1rem;
        row-gap: 4.25rem
    }

    .testimonials-holder .section-heading-description {
        padding-bottom: 4.25rem;
    }

    .testimonials-holder .btn-holder {
        padding-top: 4.25rem;
    }

    .testimonials-holder .testimonials-cards-holder .cards {
        flex: 1 0 calc(50% - 1.1rem);
        max-width: calc(50% - 1.1rem);
    }

    .banner-holder {
        padding-top: 1rem;
    }

    .banner-holder .hero-text-holder {
        margin-top: 15%;
    }

    .banner-holder .hero-text-holder h2 {
        font-size: 5.5rem;
    }

    .banner-holder .hero-text-holder h3 {
        font-size: 3.5rem;
    }

    .banner-holder .img-holder {
        width: 38.0625rem;
        height: 25.375rem;
        position: absolute;
        bottom: 0;
        right: 5.87rem;
        z-index: 5;
        opacity: 55%;
    }

    .offerings {
        padding-bottom: 4.25rem;
        padding-top: 4rem;
    }

    .contact .contact-holder {
        padding-top: 4.94rem;
        padding-bottom: 4.94rem;
        column-gap: 2rem;
    }

    .contact-holder .text-holder-main p {
        color: rgba(0, 0, 0, 0.99);
    }

    footer {
        padding-top: 2.38rem;
        padding-bottom: 4.25rem;
    }

    footer .social-holder .social-ico-holder {
        width: 3rem;
        height: 3rem;
    }
}

/* Large Devices (Desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 12px;
    }

    .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper {
        padding-left: 7.3rem;
        padding-right: 7.3rem;
    }

    .hero-section .graphics-holder1 {
        width: 26.625rem;
        height: 26.625rem;
        left: -7.3rem;
    }

    .hero-section .graphics-holder2 {
        width: 13.5625rem;
        height: 13.5625rem;
        top: 8.5rem;
        z-index: 2;
    }


    .about .about-description {
        justify-content: space-between;
        column-gap: 3.125rem;
    }

    .about-description .card-holder {
        margin-left: 0;
    }

    .banner-holder .img-holder {
        width: 41.0625rem;
        height: 28.375rem;
        position: absolute;
        bottom: 0;
        right: 5.87rem;
        z-index: 5;
        opacity: 55%;
    }

}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    html {
        font-size: 14px;
    }

    .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper {
        padding-left: 7.3rem;
        padding-right: 7.3rem;
    }

    .banner-holder .img-holder {
        width: 43.0625rem;
        height: 30.375rem;
        position: absolute;
        bottom: 0;
        right: 5.87rem;
        z-index: 5;
        opacity: 55%;
    }
}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1440px) {
    /* Styles for extra large devices */
}